body {
    margin: 0;
    background-color: black;
}

#score {
    display: block;
    position: absolute;
    margin-left: 450px;
    margin-top: 10%;
    color: red;
    font-size: 40px;
    font-family:fantasy;
}

#canvas {
    position: absolute;
    margin-top: -10%;
    margin-left: 5%;
}